@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '~antd/dist/antd.css'; */


*::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: #736f6f;
}
*::-webkit-resizer{
  width: 4px;
}
*{
  @apply text-gray-200
}
body {
  font-family: Arial, Helvetica, sans-serif !important;
  @apply m-0 text-gray-200 min-h-screen overflow-x-hidden;
  --tw-bg-opacity: 1 !important;
    background-color: rgb(42 42 42 / var(--tw-bg-opacity)) !important;
}

.scrolled .navbar {
  @apply !bg-black;
}

.bg-defaul {
  background-color: #2a2a2a !important;
}

.bg-dark-darken{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(26 26 26 / var(--tw-bg-opacity)) !important;
}

.bg-dark-lighten{
   --tw-bg-opacity: 1 !important;
    background-color: rgb(42 42 42 / var(--tw-bg-opacity)) !important;
}

* {
  box-sizing: border-box;
}

:root {
  --swiper-theme-color: #ff0000 !important;
}

#nprogress .bar {
  background: #ff0000 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff0000, 0 0 5px #ff0000 !important;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mask-image {
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}

.rounded-btn {
  @apply w-8 h-8 rounded-full text-center inline-flex justify-center items-center;
  --tw-bg-opacity: 1 !important;
    background-color: rgb(42 42 42 / var(--tw-bg-opacity)) !important;
}

.login-body{
  display: block;
  margin: 0 auto;
  max-width: 450px;
  background-color: transparent;
  min-height: 100vh;
}

.login-body:before {
  content: "";
  height: 130px;
  display: block;
}


.login-body:after {
  content: "";
  height: 145px;
  display: block;
}

.login-form-main{
  padding: 0px 5%;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  background: rgba(0,0,0,.75);
  padding: 60px 68px 40px;
}

.login-form-main h2{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 28px;
  color: #fff;
}

.login-form{
  width: 100%;
  background: rgba(0,0,0,.75);
}

.login-form input{
  background: #333;
}

.login-form-other{
  background: rgba(0,0,0,.75);
  padding: 20px 68px 80px;

}

.errors{
  color: red;
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
}

.form-login-line{  
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  margin: 20px 0px;
}

.form-login-line::before, .form-login-line::after {
  content: "";
  flex: 0 1 100%;
  border-bottom: 1px solid rgb(193, 199, 198);
  margin: 0px 10px;
  transform: translateY(-50%);
}

.form-login-line::before{
  margin-left: 0;
}

.form-login-line::after{
  margin-right: 0;
}

.account-content .account-header{
  border-bottom: 1px solid #999;
}

input:focus{
  outline: 0 none!important;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
  --tw-ring-color: #333 !important;
}

.login-form .input-group input{
  box-sizing: border-box;
  height: 50px;
}

.login-form .input-group label{
  position: absolute;
  left: 0;
  padding: 12px;
  pointer-events: none;
  transition: 0.5s;
  font-size: 16px;
  color: #8c8c8c;
}
/* .login-form .input-group input:valid ~ label, */
.login-form .input-group input:valid ~ label,
.login-form .input-group input:focus ~ label
{
  font-size: 11px;
  transform: translateY(-10px);
}

.input-invalid,
.input-invalid:focus{
  border-bottom: 2px solid red;
}

.my-list__movie-card{
  height: 340px;
  box-sizing: border-box;
}

.my-list__movie-card button{
  display: none;
  padding: 0 7px;
  border-radius: 2px;
  background-color: #2a2a2a;
}
.my-list__movie-card button:hover{
  color: #ff0000;
}
.my-list__movie-card:hover button{
  display: block;
}